body{
    background-color: lightgray;
    margin: 0;
}


.flex-container{
	display: flex;
	justify-content: flex-end;
	align-items: end;
	flex-wrap: wrap;
    background: black;
    padding: 20px;
}

.flex-item{
    width: 100;
	flex-basis: 110px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
}