body{
    background-color: #acada8;
    margin: 0;
}

.flex-container{
	display: flex;
	justify-content: flex-end;
	align-content: end;
	flex-wrap: wrap;
    background: black;
}

.flex-item{
    width: 100;
	flex-basis: 110px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
}

.flex-img{
    margin-right: auto;
    width: 100px;
    height: 50px; 
}

.flex-img img{
    width: 100px;
    height: 50px; 
}

.features{
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    margin-top: 50px;
	flex-wrap: wrap;
}

.featured-photo{
    position: relative; 
    width: 280px; 
    height: 280px; 
    overflow: hidden; 
    border-radius: 50%;
}

.featured-photo img{
    width: auto; 
    height: 100%; 
}


.first{
    font-family: monospace;
    color: white;
    margin-bottom: 10px;
}

.second{
    font-family: monospace;
    color: white;
    margin-top: -45px;
}

.third{
    font-family: monospace;
    color: white;
    margin-top: -20px;
    text-align: justify;
}


.previous-projects{
    display: flex;
    justify-content: center;
	align-items: center;
}

.previous-projects h2{
    font-family: monospace;
    color: white;
}

.projects{
    display: flex;
    justify-content: space-around;
}

.project-items{
	width: 100;
}

.skills-bio{
    display: flex;
	flex-wrap: stretch;
}

.skills{
    font-family: monospace;
    color: white;
    text-align: center;
    flex-basis: 772px;
}

.bio{
    font-family: monospace;
    color: white;
    text-align: center;
    flex-basis: 772px;
}

.skills-bio-container{
    display: flex;
	flex-wrap: stretch;
}

.skills-item{
    font-family: monospace;
    color: white;
    text-align: center;
    flex-basis: 772px;
}

.bio-item{
    font-family: monospace;
    color: white;
    text-align: center;
    flex-basis: 772px;
}

.footer{
    display: flex;
	flex-wrap: stretch;
    background-color: black;
}

.footer-logo{
    font-family: monospace;
    color: white;
    flex-basis: 600px;
}

.footer-content{
    font-family: monospace;
    color: white;
    flex-basis: 772px;
}